@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-white {
  color: #171717;
}

label, input, textarea, button, select {
  color: #171717;
}

a {
  color: #1d4ed8;
}
a:hover {
  color: #0f172a;
}
